{% extends "base.html" %}
{% load i18n %}
{% block content %}
		<div class="left">
			<a href="arrived/">{% trans "arrived" %}</a>
			<form action="" method="GET">
				<div>
					<legend>{% trans "volunteer name" %}</legend>
					<input type="text" name="volunteer" value="">
					<input type="submit" value="{% trans 'search' %}">
				</div>
			</form>
			<p>{% trans "searched" %} {{ searched }}</p>
			{% if users %}
			<ul>
				<form action="" method="GET">
					{% for user_name in users %}
					<li><a href="volunteers/{{ user_name.id }}/">{{ user_name }}</a> {{ user_name.email }}<button type="submit" name="user_name" value="{{ user_name.id }}">{{ user_name }} {% trans "arrived" %}</button></li>
					{% endfor %}
				</form>
			</ul>
			{% else %}
			<p>{% trans "there are no results" %}</p>
			{% endif %}
			{% if form.errors %}
				<p style="color: red;">{% blocktrans count form.errors|length as counter %}Please correct the error below.{% plural %}Please correct the {{ counter }} errors below.{% endblocktrans %}</p>
			{% endif %}
			<form action="/" method="POST">{% csrf_token %}
				<table>
				{{ form.as_table }}
				</table>
				<input type="submit" value="{% trans 'add volunteer' %}">
			</form>
		</div>
		<div class="right">
			<a href="volunteers/add_project/">{% trans 'add project' %}</a>
			<form action="" method="GET">
				<legend>{% trans "project name" %}</legend>
				<input type="text" name="project" value="">
				<input type="submit" value="{% trans 'search' %}">
			</form>
			<p>{% trans "searched" %} {{ search_project }}</p>
			{% if projects %}
			<ul>
				<form action="" method="GET">
					{% for project in projects %}
					<li><a href="projects/{{ project.id }}/">{{ project }}</a> {{ project.name }}<button type="submit" name="project" value="{{ project.id }}">{% trans 'project' %}</button></li>
					{% endfor %}
				</form>
			</ul>
			{% else %}
			<p>{% trans "there are no results" %}</p>
			{% endif %}
		</div>
{% endblock %}
