{% extends "volunteers/base.html" %}
{% load i18n %}
{% block content %}
		<a href="arrived/">{% trans "arrived" %}</a>
		{% if form.errors %}
			<p style="color: red;">{% blocktrans count form.errors|length as counter %}Please correct the error below.{% plural %}Please correct the {{ counter }} errors below.{% endblocktrans %}</p>
		{% endif %}
		<form action="" method="POST">{% csrf_token %}
			<table>
			{{ form.as_table }}
			</table>
			<input type="submit" value="{% trans 'add volunteer' %}">
		</form>
{% endblock %}
