<!DOCTYPE html>
{% load staticfiles %}
<html lang="he">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'volunteer/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'volunteer/jquery-ui.css' %}" />
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script src="{% static 'volunteer/jquery.ui.datepicker-he.js' %}"></script>
		<script src="{% static 'volunteer/javascript.js' %}"></script>
	</head>
	<body>
		{% if logged_in %}
		<p>{{ user }}</p>
		{% endif %}
		{% block sidebar %}{% endblock %}
		{% block content %}{% endblock %}
		<footer>
			<p>המערכת פותחה על ידי משה נחמיאס לטובת הסדנה לידע ציבורי</p>
		</footer>
	</body>
</html>

